pingdom_access:
    username: dummy
    password: dummy
    account_email: dummy
    app_key: dummy

# the checks that you want to export data
checks:
    # 3 strategies supported
    # all: all checks
    # include: will only include the ids specified
    # exclude: all checks except the ids specified
    strategy: all
    ids: []

load:
    # type: output|mysql|postgres
    type: output
    parameters: []
    # if mysql
    #parameters:
    #  db_url: mysql+pymysql://user:password@host/database
    # if postgres
    #parameters:
    #  db_url: postgres://user:password@host/database
